html,body
{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin:0px;
	overflow:hidden;
}
.navbar-left-custom
{
	height: 100%;
	position:absolute;
	top: 0px;
	bottom: 0px;
	background-color:#EDEDED;
	padding:10px 40px 10px 30px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
}
.header
{
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 4px;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;

}
.icon, .text
{
	display: inline-block;
}
.icon
{
	color:#EB465A;
	margin-right: 20px;
	text-align: center;
}
.header .icon
{
	text-shadow: 3px 2px rgba(235, 70, 90, 0.5)
}
.text
{
	color: #616161;
}
.menu-holder
{
	height: 80%;
	margin-top: 30px;
	display: table;
}
.menu
{
	display: table-cell;
	vertical-align: middle;
	position: relative;
	font-size: 15px;
	letter-spacing: 1.5px
}
.menu ul
{
	list-style: none;
	padding: 0px;
	margin:0px;
}
.menu ul li
{
	cursor: pointer;
	margin-bottom: 15px
}
.menu ul a 
{
	 color:#616161;
	 text-decoration: none;
}
.menu ul a:hover .text 
{
	color: #EB465A;
}
.maincont
{
	display: inline-block;
	height: 100%;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}

.container-custom
{
	height: 100%;
	width: 100%;
	padding: 60px;
}
.container-custom h1
{
	font-weight:bold;
	font-size: 25px;
	color: #5E5E5E;
	letter-spacing: 1.5px;
	margin-bottom: 30px;
}
.heading
{
	font-weight:bold;
	font-size: 40px;
	color: rgb(255, 255, 255);
	letter-spacing: 1.5px;
}
.sub-heading
{
	font-weight:bold;
	font-size: 25px;
	color: rgb(255, 255, 255);
	letter-spacing: 1.5px;

}
.banner
{
	background-image: linear-gradient(rgba(0 ,0,0,0.3),rgba(0,0,0,0.3)), url(../images/banner.jpeg);
	background-size: cover;
	background-color: rgba(0, 0, 0, .5);
	height: 40vh;
	text-align: left;
	padding: 50px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
}
.get-started
{
	background-color: transparent;
	box-sizing: border-box;
	border: 2px solid white;
	border-radius: 4px;
	text-align: center;
	width: 22%;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
	padding: 5px;
	font-size: 20px;
	margin-top: 30px;
}
.get-started:hover
{
	background-color: white;
	color: black;
}
.get-started:focus
{
	outline: none;
}
.row
{
	padding: 10px;
}
.row .col-sm-2
{
	padding: 7px;
}
.thumbnail
{
	height: 220px;
	border-radius:15px !important;
	border:1px solid black;
	padding: 0px;
	cursor: pointer;
	transition: all 200ms !important;
}
.thumbnail:hover
{
	box-shadow: 0px 0px 13px rgba(0,0,0,0.4)
}
.thumbnail img
{
	height: 90%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	padding: 0px;
}
.thumbnail-title
{
	text-align: center;
	padding: 10px;
}
.thumbnail-title p
{
	margin-bottom: 5px;
	color: #EB465A;
	font-weight: bold;
	letter-spacing: 1.5px;
}
.player
{
	position: fixed;
	background-color: white;
	height: 50%;
	width: 300px;
	right: 30px;
	bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.player_thumbnail
{
	height: 80%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align: center!important;
}
.player_thumbnail img
{
	height: 100%;
}
.controller
{
	padding: 5px;
	text-align: center;
	margin-top: 10px;
}
.controller button:focus
{
	outline: none
}
.controller button
{
	background-color: white;
}
.playlist
{
	float: left;
}
.custom-close
{
	float: right;
}
.play
{
	height: 50px;
	width: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: #EB465A !important;
	border:0px;
	color: white;
	text-shadow: 3px 2px rgba(255,255,255,0.4);
	margin-right: 10px;
	margin-left:10px;
}
.play:focus
{
	outline: none;
}
.arrow
{
	height: 40px;
	width: 40px;
	border:0px;
	text-align: center;
	font-size: 20px;
	font-weight: lighter;
}
.playlist, .custom-close
{
	height: 40px;
	width: 40px;
	border:0px;
}
.btn-sml
{
	padding: 5px 20px 5px 20px;
	height: 40px;
	margin-right: 30px;
	border:0px;
	background-color: #EB465A;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 3px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5)
}
.btn-sml i
{
	margin-right: 10px;
}
.custom-container
{
	height: 100%;
	width: 100%;
}
.custom-container
{
	padding: 50px;
}
.custom-container h3
{
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: #595959;
}
.container-custom h3 i
{
	margin-right: 20px;
	color: #EB465A;
}
.items-list
{
	margin-top: 50px 
}
.item
{
	cursor: pointer;
	padding: 20px;
	display: table;
	transition: all 200ms;
	border-radius: 7px;
	background-color: #F7F7F7;
	margin-bottom: 10px;
}
.item div
{
	display: table-cell;
	vertical-align: middle;
}
.item:hover
{
	background-color: #F2F2F2;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.thumbnail-sml img
{
	width: 100%;
}
.container-custom .title
{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 20px;
}